<div id="banner">Tier List Maker</div>
<div id="app-wrapper-with-banner" class="d-flex justify-content-center align-items-center">
  <section id="login-register-form">
    <form method="post" action="/register">
      <h2 class="mb-4">Register</h2>
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control <%= locals.errors?.username ? 'is-invalid' : '' %>" id="username" name="username">
        <% if(locals.errors?.username) { %>
          <div class="invalid-feedback"><%= errors.username %></div>
        <% } %>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control <%= locals.errors?.password ? 'is-invalid' : '' %>" id="password" name="password">
        <% if(locals.errors?.password) { %>
          <div class="invalid-feedback"><%= errors.password %></div>
        <% } %>
      </div>
      <button type="submit" class="btn btn-primary">Register</button>
    </form>
    <p class="mt-4 mb-0">Already have an account? <a href="./login">Log in now!</a></p>
  </section>
</div>
