<div class="modal fade" id="newListModal" tabindex="-1" aria-labelledby="newListModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="/createList" method="post">
        <div class="modal-header">
          <h1 class="modal-title fs-5">Create New Tier List</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <label for="name" class="form-label">List Name</label>
          <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>
